<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Master Data Import with Connector Flow</h2>
            <h3 class="oe_slogan">Extremely flexible and configurable Import with Update Features</h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">First Feature</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
                <a href="doc.html">Lorem Ipsum</a>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="screenshot-example.png" alt="Screenshot">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Second Feature</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="screenshot-example.png" alt="Screenshot">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Lorem Ipsum ...
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            <a target="_blank" style="color:#6d57e0"
                    href="https://bitbucket.org/jamotion/connector_flow_master_data_import/src/8.0/doc/index.rst?fileviewer=file-view-default">Check out the Online Manual for further informations!</a>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            More informations about Odoo Services of <a style="color:#6d57e0" href="https://jamotion.ch/"
                                                        target="_blank">Jamotion GmbH here...</a>
        </div>
    </div>
</section>